        html {
            overflow-x: scroll;
        }

        body {
            margin: 0px;
            background-color: rgb(247, 245, 245);
        }

        .span:hover {
            cursor: pointer;
        }

        .span {
            height: 30px;
        }

        .s-written {
            height: 0px;
        }



        nav {
            display: flex;
            gap: 3vw;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            color: gray;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .headerins {
            text-align: center;
            font-size: 17px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: gray;
            background-color: white;
            position: relative;
            animation: slider 2s;
        }


        @keyframes slider {
            from {
                top: -40px;
                opacity: 0;
            }

            to {
                top: 0px;
                opacity: 1;
            }
        }




        .headerinsp {
            padding: 20px;
        }

        .store1 {

            font-size: 80px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            position: absolute;
            top: 7vh;
            left: 11vw;
            font-weight: 510;

        }

        .store2 {
            position: absolute;
            top: 7vh;
            right: 11vw;
            width: 28vw;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: 100;
            text-align: right;
        }

        .store {
            position: relative;

        }

        .container1 {
            height: 40vh;
            max-height: 100vh;
        }

        .pic111 {
            width: 120px;
            height: 78px;
        }

        .classmac {
            width: 120px;
            text-align: center;
            margin-top: 7px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .pic222 {
            width: 120px;
            height: 78px;
        }

        .iphone {
            width: 120px;
            text-align: center;
            margin-top: 7px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .pic333 {
            width: 120px;
            height: 78px;
        }

        .ipad {
            width: 120px;
            text-align: center;
            margin-top: 7px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .pic444 {
            width: 120px;
            height: 78px;
        }

        .applewatch {
            width: 120px;
            text-align: center;
            margin-top: 7px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .pic555 {
            width: 120px;
            height: 78px;
        }

        .airpods {
            width: 120px;
            text-align: center;
            margin-top: 7px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .pic666 {
            width: 120px;
            height: 78px;
        }

        .airtag {
            width: 120px;
            text-align: center;
            margin-top: 7px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .pic777 {
            width: 120px;
            height: 78px;
        }

        .appletv4k {
            width: 120px;
            text-align: center;
            margin-top: 7px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .pic888 {
            width: 120px;
            height: 78px;
        }

        .homepod {
            width: 120px;
            text-align: center;
            margin-top: 7px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .pic999 {
            width: 120px;
            height: 78px;
        }

        .accessories {
            width: 120px;
            text-align: center;
            margin-top: 7px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .pics {
            display: flex;
            margin-left: 0vw;
            gap: 2vw;
            flex-wrap: wrap;
            justify-content: center;
        }

        .container3 {
            margin-left: 6vw;
            margin-top: 10vh;
        }